.needed {
	background: #FFB300;
	padding-bottom: 65px;
	padding-top: 50px;

	@media(max-width:1080px) {
		padding-bottom: 0;
	}

	@media($mobile) {
		padding-top: 25px;
		line-height: 32px;

	}
}

.needed-title {

	font-family: 'Jost';
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 43px;
	text-align: center;

	color: #161335;

	@media($mobile) {
		font-size: 30px;
		line-height: 32px;
	}

}

.needed-swiper-slide {
	height: 100%;
	display: flex;
	align-items: flex-end;
}

.needed-swiper-wrapper {
	align-items: flex-end;
}

.needed__box {
	display: flex;
	align-items: flex-end;
	position: relative;

	img {
		width: 100%;
		object-fit: contain;
	}

	&::after {
		content: "";
		position: absolute;
		width: 60px;
		height: 60px;
		bottom: 22%;
		left: 7%;
		z-index: 1;
		background: #FFFFFF;
		opacity: 0.77;
		filter: blur(35px);

	}

	@media(max-width:572px) {
		width: 380px;
		margin-left: auto;
		margin-right: auto;
		opacity: 0;

		img {
			width: 118%;
			left: -5%;
			position: relative;
		}

	}
}

.needed__box-2 {
	&::after {
		bottom: 32%;
		left: -2%;
	}
}

.needed__box-3 {
	&::after {
		bottom: 15%;
		left: 5%;
	}
}

.needed-swiper-slide.swiper-slide-active {
	.needed__box {

		@media(max-width:572px) {
			opacity: 1;
		}
	}
}

.needed-swiper {
	padding-top: 50px;
	padding-left: 40px;
	position: relative;

	@media(max-width:1450px) {
		padding-left: 0;
	}

	@media($mobile) {
		padding-top: 15px;
	}

}

.needed-container {
	max-width: 1420px;
}

.needed-swiper-pagination {
	position: relative;
	margin-bottom: 10px;

	.swiper-pagination-bullet {
		width: 8px;
		height: 8px;
		background: #fff;
		opacity: 1;
	}

	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		opacity: 1;
		background: #E25252;
	}
}