.modal-background {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 5;
	overflow: auto;
	display: flex;
	z-index: -33333333333;
	opacity: 0;
	padding: 32px;
	perspective: 1000px;

	@media screen and ($laptop) {
		padding: 20px;
	}
}

.modal-background.--active {
	opacity: 1;
	z-index: 333;

	.modal__container {
		transform: translateY(0) rotateX(0deg);
	}
}

.modal__container {
	transform: translateY(-100%) rotateX(15deg);
	transform-style: preserve-3d;
	transition: $hover-trans;
	margin: auto;
}