*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
}

a {
	text-decoration: none;
	transition: .4s;
}

ul {
	list-style: none;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background: none;
	padding: 0;
	transition: .4s;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-gutter: stable;

	&._fixed {
		overflow: hidden;
	}

}

.page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	overflow: hidden;
}


/* убираем тени safari */
input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


.container {
	width: 100%;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1240px;
	margin-left: auto;
	margin-right: auto;
}

time {
	display: block;
}