// root
:root {
	--index: calc(1vw + 1vh);
}

// fonts



// media
$macbook: "max-width: 1680px";
$notebook: "max-width: 1440px";
$laptop: "max-width: 1240px";
$tablet: "max-width: 992px";
$min-tablet: "min-width: 992px";
$mobile: "max-width: 767px";

// color
$white: #ffffff;
$black: #020202;
$red: #e92d3a;
$green: #0b9442;
$blue: #4099f8;
$purple: #9747ff;
$cyan: #61c3c1;
$cyan-light: #c4edec;
$gray: #545454;
$light-gray: #b9b9b9;
$pink-dark: #d7165c;
$pink: #ffc3c3;
$pink-light: #ffeeec;
$lk-bg: #f3fbfb;
$bg-sec: #F5F5F5;
$gradient: linear-gradient(90deg, #ffc3c3 0%, #020202 100%);
$text-clr: #222;
$border-gray: rgba(#222, .2);

.--white {
	color: $white;
}

.--black {
	color: $black;
}

.--red {
	color: $red;
}

.--green {
	color: $green;
}

.--blue {
	color: $blue;
}

.--purple {
	color: $purple;
}

.--cyan {
	color: $cyan;
}

.--gray {
	color: $gray;
}

.--pink {
	color: $pink;
}

// shadow
$publick-shadow: 2px 4px 15px 1px rgba(34, 34, 34, 0.1);
$cabinet-shadow: 2px 2px 8px 0px rgba(34, 34, 34, 0.05);

// transition
$hover-trans: 0.4s;